.grid{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 5em;
    transform: translateX(-0.0001%);
  
  }
  
  .gridBox{
    background-color: #44B9E1;
    border: 0.5em solid #345667;
    height: 10em;
    width: 10em;
    font-size: 20;
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex-direction:  'column';
    position: relative;
  }
  
  .gridBox:hover{
    background-color: #A2DCF0;
  }

  .gridText, .gridPct{
    background-color: #30404B;
    opacity: 70%;
    color: #A2DCF0;   
  }

  .gridText{
    margin-bottom: 0;
    width: 10em;
    position: fixed;
  }

  .gridPct{
    position: absolute;
    top: -1em;
    right:0;
  

  }

  
  .dim{
    filter: brightness(50%); 
  }

  .correct, .incorrect{
    pointer-events: none;
  }

  .correct {
    background-color: #2CAE28;
    color: #2C292E;
  }

  .incorrect{
    background-color: #CB0F0F;
  }

  .Main{
    display: inline-grid;
    grid-template-columns: auto auto;
  }


  .Row, .Col{
    color: #A2DCF0;
    font-size: 1.5em;  
    font-weight: bold;

  }
  .Row{
    margin-top: 2.5em;
    margin-right: 1.25em;
    width: 8em;
    text-align: center;
  }

  .Col{
    width: 7em;
    text-align: center;

  }