

.inputWrap{
    background-color: #44B9E1;
    width: 60%;
    border: 0.2em solid #345667;
    border-radius: 1em;
    height: 2.5em;
    padding: 0, 2em;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 2em;
}

input{
    background-color: transparent;
    border:none;
    height: 100%;
    font-size: 1.25em;
    width: 100%;
    margin-left: 0.75em;
    color: #345667;
}

input:focus {
    outline: none;
}

#search-icon{
    margin-left: 0.5em;
    color: #345667;
}

::placeholder{
    color: #345667;
}