form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    width: 100%;
    max-width: 250px;
    margin-right: 0.5rem;
  }
