.resultList{
    width: 60%;
    margin: auto;
    background-color: #345667;
    display: flex;
    flex-direction: column;
    border: 0.2em solid #44B9E1;
    border-radius: 1em;
    margin-top: 0.5em;
    max-height: 300px;
    overflow-y: scroll;

}